@mixin tablet{
    @media ( max-width: 769px) {
        @content;
        
    }
} 
@mixin tabletmin{
    @media ( min-width: 768px) {
        @content;
        
    }
} 
@mixin telefono{
    @media ( max-width: 480px) {
        @content;
        
    }
} 
@mixin desktop{
    @media ( max-width: 1110px) {
        @content;
        
    }
} 
@mixin grid($columnas, $gap : 5rem){
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $gap;
}
@mixin resetear-estilos{
   margin:0;
   padding: 0;
    list-style: none;
}
