$fuente_titulos:"Federant", serif;
$fuente_span:"Dancing Script", cursive;
$fuente_principal:"Oswald", sans-serif;


// Colores

$verdeOscuro:rgb(0, 70, 3);
$verde:rgb(0, 151, 8);
$rojo:rgb(182, 17, 17);
$dorado:rgb(218, 165, 32);
$amarilloOscuro: rgb(126, 117, 0);
$amarillo: rgb(202, 189, 3);
$azulOscuro: rgb(0, 64, 107);
$azul: rgb(0, 140, 233);
$negro: #000000;
$negroClaro:rgb(17, 17, 17);
$blanco: #FFFFFF;
$gris: rgb(143, 143, 143);