@use "base/variables" as v;
@use "base/mixin" as m;

// botones CRUD
.contenedor-opciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    @include m.tablet{
        flex-direction: column;
    }
}
.nuevo{
    background-color: v.$verde;
    &:hover{
        background-color: v.$verdeOscuro;
    }
}
.opciones-activas, .btn-azul{
    background-color: v.$azul;
    &:hover{
        background-color: v.$azulOscuro;
    }
}
.opciones-inactivas{
    background-color: v.$amarillo;
    &:hover{
        background-color: v.$amarilloOscuro;
    }
}
.nuevo, .modificar{
    width: 9%;
    color: v.$blanco;
    padding: 1.5rem;
    margin: 2rem 0 0 2rem;
    text-align: center;
    font-family: v.$fuente_principal;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid gray;
    border-radius: 1.5rem;
    &:hover{
        cursor: pointer;
    }
    @include m.tablet{
        width: 25%;
    }
    @include m.telefono{
        width: 80%;
    }
    @include m.desktop{
        width: 15%;
    }

}



// tabla
.tabla-campo{
    padding: 2rem !important;
    
}
.imagen-tabla{
    width: 70%;
    height: auto;
    margin: 0 auto;
}


/* Estilos de DataTable en modo oscuro */
// labels y parrafos
// dark
[data-bs-theme="dark"] .dt-container .dt-search label,
[data-bs-theme="dark"] .dt-container .dt-length label,
[data-bs-theme="dark"] .dt-container .dt-info,
[data-bs-theme="dark"] .dt-container .dt-paging {

  color: v.$blanco;
}
// light
[data-bs-theme="light"] .dt-container .dt-search label,
[data-bs-theme="light"] .dt-container .dt-length label,
[data-bs-theme="light"] .dt-container .dt-info,
[data-bs-theme="light"] .dt-container .dt-paging {

  color: v.$negro;
}
// inputs y selects
// dark
[data-bs-theme="dark"] .dt-container input[type="search"],
[data-bs-theme="dark"] .dt-container select {

  color: v.$blanco;

}
// light
[data-bs-theme="light"] .dt-container input[type="search"],
[data-bs-theme="light"] .dt-container select {

  color: v.$negro;

}

